<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611393393169-35ua101h59ofqi1g9rogehtsvp4dckd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611393393169-35ua101h59ofqi1g9rogehtsvp4dckd4</string>
	<key>API_KEY</key>
	<string>AIzaSyC7XBlZP3GqLCXqLsmTAAHHz6tjgaU01s4</string>
	<key>GCM_SENDER_ID</key>
	<string>611393393169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jusglobal.jus-law</string>
	<key>PROJECT_ID</key>
	<string>juslaw-platform-3fe6d</string>
	<key>STORAGE_BUCKET</key>
	<string>juslaw-platform-3fe6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611393393169:ios:2f949df9bf34dc623497b0</string>
	<key>DATABASE_URL</key>
	<string>https://juslaw-platform-3fe6d.firebaseio.com</string>
</dict>
</plist>